{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "declaration-block-semicolon-newline-after": null,

    "no-eol-whitespace": null,
    "rule-empty-line-before": null,
    "indentation": null
  }
}
