
:global(.sv) {
    line-height: 1;
}

:global(.sv *) {
    box-sizing: border-box;
}

@font-face {
    font-family: "iconfont";
    src: url('./font/iconfont.eot?t=1502874699252'); /* IE9*/
    src: url('./font/iconfont.eot?t=1502874699252#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('./font/iconfont.woff?t=1502874699252') format('woff'), /* chrome, firefox */ url('./font/iconfont.ttf?t=1502874699252') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./font/iconfont.svg?t=1502874699252#iconfont') format('svg'); /* iOS 4.1- */
}

:global(input::-ms-clear) {
    display: none;
}

:global(.iconfont) {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global(.icon-close:before) {
    content: "\e746";
}

:global(.sv-widght-hidden) {
    display: none;
}

:global(.sv-icon-info:before) {
    content: "\e947";
}

:global(.sv-icon-check:before) {
    content: "\e948";
}

:global(.sv-icon-icon:before) {
    content: "\e949";
}

:global(.sv-icon-data:before) {
    content: "\e8e0";
}

:global(.sv-icon-all:before) {
    content: "\e8e1";
}

:global(.sv-icon-category:before) {
    content: "\e8e2";
}

:global(.sv-icon-comments:before) {
    content: "\e8e3";
}

:global(.sv-icon-form:before) {
    content: "\e8e4";
}

:global(.sv-icon-rfq:before) {
    content: "\e8e5";
}

:global(.sv-icon-success:before) {
    content: "\e8e6";
}

:global(.sv-icon-survey:before) {
    content: "\e8e7";
}

:global(.sv-icon-training:before) {
    content: "\e8e8";
}

:global(.sv-icon-viewgallery:before) {
    content: "\e8e9";
}

:global(.sv-icon-viewlist:before) {
    content: "\e8ea";
}

:global(.sv-icon-warning:before) {
    content: "\e8eb";
}

:global(.sv-icon-wrong:before) {
    content: "\e8ec";
}

:global(.sv-icon-out:before) {
    content: "\e94a";
}

:global(.sv-icon-3column:before) {
    content: "\e8ed";
}

:global(.sv-icon-4column:before) {
    content: "\e8ee";
}

:global(.sv-icon-filter:before) {
    content: "\e8ef";
}

:global(.sv-icon-history:before) {
    content: "\e8f0";
}

:global(.sv-icon-cut:before) {
    content: "\e8f1";
}

:global(.sv-icon-navlist:before) {
    content: "\e8f2";
}

:global(.sv-icon-imagetext:before) {
    content: "\e8f3";
}

:global(.sv-icon-text:before) {
    content: "\e8f4";
}

:global(.sv-icon-dollar:before) {
    content: "\e8f5";
}

:global(.sv-icon-office:before) {
    content: "\e8f6";
}

:global(.sv-icon-key1:before) {
    content: "\e94b";
}

:global(.sv-icon-quanping:before) {
    content: "\e94c";
}

:global(.sv-icon-3:before) {
    content: "\e94d";
}

:global(.sv-icon-data1:before) {
    content: "\e8f7";
}

:global(.sv-icon-success1:before) {
    content: "\e94e";
}

:global(.sv-icon-store:before) {
    content: "\e8f8";
}

:global(.sv-icon-usered:before) {
    content: "\e94f";
}

:global(.sv-icon-lock1:before) {
    content: "\e950";
}

:global(.sv-icon-data2:before) {
    content: "\e8f9";
}

:global(.sv-icon-1:before) {
    content: "\e600";
}

:global(.sv-icon-creditlevel:before) {
    content: "\e8fa";
}

:global(.sv-icon-creditlevelfilling:before) {
    content: "\e8fb";
}

:global(.sv-icon-check1:before) {
    content: "\e951";
}

:global(.sv-icon-datamap:before) {
    content: "\e8fc";
}

:global(.sv-icon-exl:before) {
    content: "\e8fd";
}

:global(.sv-icon-pdf:before) {
    content: "\e8fe";
}

:global(.sv-icon-zip:before) {
    content: "\e8ff";
}

:global(.sv-icon-data3:before) {
    content: "\e900";
}

:global(.sv-icon-save:before) {
    content: "\e901";
}

:global(.sv-icon-inquirytemplate:before) {
    content: "\e902";
}

:global(.sv-icon-templatedefault:before) {
    content: "\e903";
}

:global(.sv-icon-survey1:before) {
    content: "\e904";
}

:global(.sv-icon-message:before) {
    content: "\e952";
}

:global(.sv-icon-data4:before) {
    content: "\e905";
}

:global(.sv-icon-bussinesscard:before) {
    content: "\e906";
}

:global(.sv-icon-caidan1:before) {
    content: "\e953";
}

:global(.sv-icon-usersetting:before) {
    content: "\e954";
}

:global(.sv-icon-data5:before) {
    content: "\e907";
}

:global(.sv-icon-trade:before) {
    content: "\e908";
}

:global(.sv-icon-sofa1:before) {
    content: "\e8de";
}

:global(.sv-icon-data6:before) {
    content: "\e909";
}

:global(.sv-icon-left:before) {
    content: "\e955";
}

:global(.sv-icon-sofa3:before) {
    content: "\e8df";
}

:global(.sv-icon-xe609:before) {
    content: "\e93e";
}

:global(.sv-icon-xe608:before) {
    content: "\e940";
}

:global(.sv-icon-xe607:before) {
    content: "\e941";
}

:global(.sv-icon-xe606:before) {
    content: "\e942";
}

:global(.sv-icon-xe605:before) {
    content: "\e943";
}

:global(.sv-icon-xe604:before) {
    content: "\e944";
}

:global(.sv-icon-xe603:before) {
    content: "\e945";
}

:global(.sv-icon-xe602:before) {
    content: "\e946";
}

:global(.sv-icon-wangluo:before) {
    content: "\e90a";
}

:global(.sv-icon-yunyingguanli:before) {
    content: "\e90b";
}

:global(.sv-icon-jiankong:before) {
    content: "\e90c";
}

:global(.sv-icon-dashuju:before) {
    content: "\e90d";
}

:global(.sv-icon-shuju:before) {
    content: "\e90e";
}

:global(.sv-icon-chuangxin:before) {
    content: "\e90f";
}

:global(.sv-icon-GOC:before) {
    content: "\e910";
}

:global(.sv-icon-yunweiguanli:before) {
    content: "\e911";
}

:global(.sv-icon-yanfaxietong:before) {
    content: "\e912";
}

:global(.sv-icon-quanxianshezhi:before) {
    content: "\e956";
}

:global(.sv-icon-data7:before) {
    content: "\e913";
}

:global(.sv-icon-jiankong1:before) {
    content: "\e914";
}

:global(.sv-icon-wenduzengjia:before) {
    content: "\e915";
}

:global(.sv-icon-wangluoxitong:before) {
    content: "\e916";
}

:global(.sv-icon-wangluo1:before) {
    content: "\e917";
}

:global(.sv-icon-wendu:before) {
    content: "\e918";
}

:global(.sv-icon-dianyuan:before) {
    content: "\e919";
}

:global(.sv-icon-wendujiangdi:before) {
    content: "\e91a";
}

:global(.sv-icon-yingpan:before) {
    content: "\e91b";
}

:global(.sv-icon-neicun:before) {
    content: "\e91c";
}

:global(.sv-icon-wangluojiekou:before) {
    content: "\e91d";
}

:global(.sv-icon-xitongyunzhuanqingkuang:before) {
    content: "\e91e";
}

:global(.sv-icon-zhuanxianjieru:before) {
    content: "\e91f";
}

:global(.sv-icon-IP:before) {
    content: "\e920";
}

:global(.sv-icon-mokuai:before) {
    content: "\e921";
}

:global(.sv-icon-VPN:before) {
    content: "\e922";
}

:global(.sv-icon-USB:before) {
    content: "\e923";
}

:global(.sv-icon-jiegousheji:before) {
    content: "\e924";
}

:global(.sv-icon-biaoge:before) {
    content: "\e925";
}

:global(.sv-icon-renwu:before) {
    content: "\e926";
}

:global(.sv-icon-peizhiguanli:before) {
    content: "\e927";
}

:global(.sv-icon-quanxian:before) {
    content: "\e928";
}

:global(.sv-icon-shenqingquanxian:before) {
    content: "\e929";
}

:global(.sv-icon-shujudaochu-01:before) {
    content: "\e92a";
}

:global(.sv-icon-xitongzhuangtai:before) {
    content: "\e92b";
}

:global(.sv-icon-shujubiangeng:before) {
    content: "\e92c";
}

:global(.sv-icon-histore-01:before) {
    content: "\e92d";
}

:global(.sv-icon-mysql-01:before) {
    content: "\e92e";
}

:global(.sv-icon-oracle-01:before) {
    content: "\e92f";
}

:global(.sv-icon-SQLshenhe:before) {
    content: "\e930";
}

:global(.sv-icon-oceanbase-01:before) {
    content: "\e931";
}

:global(.sv-icon-postgresql-01:before) {
    content: "\e932";
}

:global(.sv-icon-down:before) {
    content: "\e957";
}

:global(.sv-icon-signboard:before) {
    content: "\e933";
}

:global(.sv-icon-shuffling-banner:before) {
    content: "\e934";
}

:global(.sv-icon-component:before) {
    content: "\e935";
}

:global(.sv-icon-component-filling:before) {
    content: "\e936";
}

:global(.sv-icon-color:before) {
    content: "\e937";
}

:global(.sv-icon-color-filling:before) {
    content: "\e938";
}

:global(.sv-icon-data8:before) {
    content: "\e939";
}

:global(.sv-icon-data9:before) {
    content: "\e93a";
}

:global(.sv-icon-data10:before) {
    content: "\e93b";
}

:global(.sv-icon-manage:before) {
    content: "\e958";
}

:global(.sv-icon-jiankong2:before) {
    content: "\e959";
}

:global(.sv-icon-shuzhuang:before) {
    content: "\e95a";
}

:global(.sv-icon-data11:before) {
    content: "\e93c";
}

:global(.sv-icon-data12:before) {
    content: "\e93d";
}

:global(.sv-icon-error:before) {
    content: "\e95b";
}

:global(.sv-icon-manage1:before) {
    content: "\e95c";
}

:global(.sv-icon-shield:before) {
    content: "\e95d";
}

:global(.sv-icon-data13:before) {
    content: "\e93f";
}

:global(.sv-icon-android-alert:before) {
    content: "\e601";
}

:global(.sv-icon-android-apps:before) {
    content: "\e602";
}

:global(.sv-icon-android-archive:before) {
    content: "\e603";
}

:global(.sv-icon-android-arrow-down:before) {
    content: "\e604";
}

:global(.sv-icon-android-alarm-clock:before) {
    content: "\e605";
}

:global(.sv-icon-android-arrow-back:before) {
    content: "\e606";
}

:global(.sv-icon-android-arrow-dropdo:before) {
    content: "\e607";
}

:global(.sv-icon-android-arrow-drople:before) {
    content: "\e608";
}

:global(.sv-icon-android-arrow-dropri:before) {
    content: "\e609";
}

:global(.sv-icon-android-arrow-drople1:before) {
    content: "\e60a";
}

:global(.sv-icon-android-arrow-dropdo1:before) {
    content: "\e60b";
}

:global(.sv-icon-android-arrow-dropri1:before) {
    content: "\e60c";
}

:global(.sv-icon-android-arrow-dropup:before) {
    content: "\e60d";
}

:global(.sv-icon-android-arrow-dropup1:before) {
    content: "\e60e";
}

:global(.sv-icon-android-arrow-forwar:before) {
    content: "\e60f";
}

:global(.sv-icon-android-arrow-up:before) {
    content: "\e610";
}

:global(.sv-icon-android-bar:before) {
    content: "\e611";
}

:global(.sv-icon-android-attach:before) {
    content: "\e612";
}

:global(.sv-icon-android-bookmark:before) {
    content: "\e613";
}

:global(.sv-icon-android-bicycle:before) {
    content: "\e614";
}

:global(.sv-icon-android-boat:before) {
    content: "\e615";
}

:global(.sv-icon-android-bulb:before) {
    content: "\e616";
}

:global(.sv-icon-android-calendar:before) {
    content: "\e617";
}

:global(.sv-icon-android-camera:before) {
    content: "\e618";
}

:global(.sv-icon-android-call:before) {
    content: "\e619";
}

:global(.sv-icon-android-cancel:before) {
    content: "\e61a";
}

:global(.sv-icon-android-bus:before) {
    content: "\e61b";
}

:global(.sv-icon-android-car:before) {
    content: "\e61c";
}

:global(.sv-icon-android-cart:before) {
    content: "\e61d";
}

:global(.sv-icon-android-checkbox:before) {
    content: "\e61e";
}

:global(.sv-icon-android-chat:before) {
    content: "\e61f";
}

:global(.sv-icon-android-checkbox-bla:before) {
    content: "\e620";
}

:global(.sv-icon-android-checkbox-out:before) {
    content: "\e621";
}

:global(.sv-icon-android-checkbox-out1:before) {
    content: "\e622";
}

:global(.sv-icon-android-checkmark-ci:before) {
    content: "\e623";
}

:global(.sv-icon-android-clipboard:before) {
    content: "\e624";
}

:global(.sv-icon-android-cloud:before) {
    content: "\e625";
}

:global(.sv-icon-android-close:before) {
    content: "\e626";
}

:global(.sv-icon-android-cloud-circle:before) {
    content: "\e627";
}

:global(.sv-icon-android-cloud-done:before) {
    content: "\e628";
}

:global(.sv-icon-android-cloud-outlin:before) {
    content: "\e629";
}

:global(.sv-icon-android-compass:before) {
    content: "\e62a";
}

:global(.sv-icon-android-color-palett:before) {
    content: "\e62b";
}

:global(.sv-icon-android-contact:before) {
    content: "\e62c";
}

:global(.sv-icon-android-contract:before) {
    content: "\e62d";
}

:global(.sv-icon-android-contacts:before) {
    content: "\e62e";
}

:global(.sv-icon-android-create:before) {
    content: "\e62f";
}

:global(.sv-icon-android-delete:before) {
    content: "\e630";
}

:global(.sv-icon-android-desktop:before) {
    content: "\e631";
}

:global(.sv-icon-android-document:before) {
    content: "\e632";
}

:global(.sv-icon-android-done:before) {
    content: "\e633";
}

:global(.sv-icon-android-done-all:before) {
    content: "\e634";
}

:global(.sv-icon-android-download:before) {
    content: "\e635";
}

:global(.sv-icon-android-drafts:before) {
    content: "\e636";
}

:global(.sv-icon-android-exit:before) {
    content: "\e637";
}

:global(.sv-icon-android-expand:before) {
    content: "\e638";
}

:global(.sv-icon-android-favorite:before) {
    content: "\e639";
}

:global(.sv-icon-android-film:before) {
    content: "\e63a";
}

:global(.sv-icon-android-favorite-out:before) {
    content: "\e63b";
}

:global(.sv-icon-android-folder:before) {
    content: "\e63c";
}

:global(.sv-icon-android-funnel:before) {
    content: "\e63d";
}

:global(.sv-icon-android-folder-open:before) {
    content: "\e63e";
}

:global(.sv-icon-android-hand:before) {
    content: "\e63f";
}

:global(.sv-icon-android-hangout:before) {
    content: "\e640";
}

:global(.sv-icon-android-globe:before) {
    content: "\e641";
}

:global(.sv-icon-android-home:before) {
    content: "\e642";
}

:global(.sv-icon-android-happy:before) {
    content: "\e643";
}

:global(.sv-icon-android-image:before) {
    content: "\e644";
}

:global(.sv-icon-android-list:before) {
    content: "\e645";
}

:global(.sv-icon-android-lock:before) {
    content: "\e646";
}

:global(.sv-icon-android-laptop:before) {
    content: "\e647";
}

:global(.sv-icon-android-mail:before) {
    content: "\e648";
}

:global(.sv-icon-android-locate:before) {
    content: "\e649";
}

:global(.sv-icon-android-map:before) {
    content: "\e64a";
}

:global(.sv-icon-android-menu:before) {
    content: "\e64b";
}

:global(.sv-icon-android-microphone:before) {
    content: "\e64c";
}

:global(.sv-icon-android-more-horizon:before) {
    content: "\e64d";
}

:global(.sv-icon-android-more-vertica:before) {
    content: "\e64e";
}

:global(.sv-icon-android-navigate:before) {
    content: "\e64f";
}

:global(.sv-icon-android-notification:before) {
    content: "\e650";
}

:global(.sv-icon-android-microphone-o:before) {
    content: "\e651";
}

:global(.sv-icon-android-notification1:before) {
    content: "\e652";
}

:global(.sv-icon-android-open:before) {
    content: "\e653";
}

:global(.sv-icon-android-notification2:before) {
    content: "\e654";
}

:global(.sv-icon-android-person:before) {
    content: "\e655";
}

:global(.sv-icon-android-options:before) {
    content: "\e656";
}

:global(.sv-icon-android-person-add:before) {
    content: "\e657";
}

:global(.sv-icon-android-people:before) {
    content: "\e658";
}

:global(.sv-icon-android-phone-landsc:before) {
    content: "\e659";
}

:global(.sv-icon-android-phone-portra:before) {
    content: "\e65a";
}

:global(.sv-icon-android-pin:before) {
    content: "\e65b";
}

:global(.sv-icon-android-plane:before) {
    content: "\e65c";
}

:global(.sv-icon-android-print:before) {
    content: "\e65d";
}

:global(.sv-icon-android-playstore:before) {
    content: "\e65e";
}

:global(.sv-icon-android-radio-button:before) {
    content: "\e65f";
}

:global(.sv-icon-android-refresh:before) {
    content: "\e660";
}

:global(.sv-icon-android-radio-button1:before) {
    content: "\e661";
}

:global(.sv-icon-android-remove:before) {
    content: "\e662";
}

:global(.sv-icon-android-remove-circl:before) {
    content: "\e663";
}

:global(.sv-icon-android-send:before) {
    content: "\e664";
}

:global(.sv-icon-android-sad:before) {
    content: "\e665";
}

:global(.sv-icon-android-search:before) {
    content: "\e666";
}

:global(.sv-icon-android-settings:before) {
    content: "\e667";
}

:global(.sv-icon-android-star:before) {
    content: "\e668";
}

:global(.sv-icon-android-share-alt:before) {
    content: "\e669";
}

:global(.sv-icon-android-star-half:before) {
    content: "\e66a";
}

:global(.sv-icon-android-star-outline:before) {
    content: "\e66b";
}

:global(.sv-icon-android-restaurant:before) {
    content: "\e66c";
}

:global(.sv-icon-android-stopwatch:before) {
    content: "\e66d";
}

:global(.sv-icon-android-subway:before) {
    content: "\e66e";
}

:global(.sv-icon-android-sync:before) {
    content: "\e66f";
}

:global(.sv-icon-android-share:before) {
    content: "\e670";
}

:global(.sv-icon-android-textsms:before) {
    content: "\e671";
}

:global(.sv-icon-android-sunny:before) {
    content: "\e672";
}

:global(.sv-icon-android-time:before) {
    content: "\e673";
}

:global(.sv-icon-android-train:before) {
    content: "\e674";
}

:global(.sv-icon-android-unlock:before) {
    content: "\e675";
}

:global(.sv-icon-android-upload:before) {
    content: "\e676";
}

:global(.sv-icon-android-volume-down:before) {
    content: "\e677";
}

:global(.sv-icon-android-volume-mute:before) {
    content: "\e678";
}

:global(.sv-icon-android-volume-up:before) {
    content: "\e679";
}

:global(.sv-icon-android-volume-off:before) {
    content: "\e67a";
}

:global(.sv-icon-android-watch:before) {
    content: "\e67b";
}

:global(.sv-icon-android-walk:before) {
    content: "\e67c";
}

:global(.sv-icon-android-warning:before) {
    content: "\e67d";
}

:global(.sv-icon-android-wifi:before) {
    content: "\e67e";
}

:global(.sv-icon-aperture:before) {
    content: "\e67f";
}

:global(.sv-icon-arrow-down-a:before) {
    content: "\e680";
}

:global(.sv-icon-archive:before) {
    content: "\e681";
}

:global(.sv-icon-arrow-down-b:before) {
    content: "\e682";
}

:global(.sv-icon-arrow-down-c:before) {
    content: "\e683";
}

:global(.sv-icon-arrow-expand:before) {
    content: "\e684";
}

:global(.sv-icon-arrow-graph-up-left:before) {
    content: "\e685";
}

:global(.sv-icon-arrow-graph-down-rig:before) {
    content: "\e686";
}

:global(.sv-icon-arrow-graph-down-lef:before) {
    content: "\e687";
}

:global(.sv-icon-arrow-left-a:before) {
    content: "\e688";
}

:global(.sv-icon-arrow-graph-up-right:before) {
    content: "\e689";
}

:global(.sv-icon-arrow-left-b:before) {
    content: "\e68a";
}

:global(.sv-icon-arrow-left-c:before) {
    content: "\e68b";
}

:global(.sv-icon-arrow-move:before) {
    content: "\e68c";
}

:global(.sv-icon-arrow-resize:before) {
    content: "\e68d";
}

:global(.sv-icon-arrow-right-a:before) {
    content: "\e68e";
}

:global(.sv-icon-arrow-return-left:before) {
    content: "\e68f";
}

:global(.sv-icon-arrow-return-right:before) {
    content: "\e690";
}

:global(.sv-icon-arrow-right-b:before) {
    content: "\e691";
}

:global(.sv-icon-arrow-right-c:before) {
    content: "\e692";
}

:global(.sv-icon-arrow-shrink:before) {
    content: "\e693";
}

:global(.sv-icon-arrow-swap:before) {
    content: "\e694";
}

:global(.sv-icon-arrow-up-b:before) {
    content: "\e695";
}

:global(.sv-icon-arrow-up-a:before) {
    content: "\e696";
}

:global(.sv-icon-arrow-up-c:before) {
    content: "\e697";
}

:global(.sv-icon-asterisk:before) {
    content: "\e698";
}

:global(.sv-icon-alert:before) {
    content: "\e699";
}

:global(.sv-icon-at:before) {
    content: "\e69a";
}

:global(.sv-icon-android-add:before) {
    content: "\e69b";
}

:global(.sv-icon-alert-circled:before) {
    content: "\e69c";
}

:global(.sv-icon-android-add-circle:before) {
    content: "\e69d";
}

:global(.sv-icon-ios-volume-low:before) {
    content: "\e69e";
}

:global(.sv-icon-ipad:before) {
    content: "\e69f";
}

:global(.sv-icon-ios-wineglass:before) {
    content: "\e6a0";
}

:global(.sv-icon-ios-wineglass-outlin:before) {
    content: "\e6a1";
}

:global(.sv-icon-ios-world-outline:before) {
    content: "\e6a2";
}

:global(.sv-icon-ios-world:before) {
    content: "\e6a3";
}

:global(.sv-icon-iphone:before) {
    content: "\e6a4";
}

:global(.sv-icon-ipod:before) {
    content: "\e6a5";
}

:global(.sv-icon-backspace-outline:before) {
    content: "\e6a6";
}

:global(.sv-icon-backspace:before) {
    content: "\e6a7";
}

:global(.sv-icon-battery-full:before) {
    content: "\e6a8";
}

:global(.sv-icon-battery-empty:before) {
    content: "\e6a9";
}

:global(.sv-icon-battery-charging:before) {
    content: "\e6aa";
}

:global(.sv-icon-bag:before) {
    content: "\e6ab";
}

:global(.sv-icon-battery-half:before) {
    content: "\e6ac";
}

:global(.sv-icon-bluetooth:before) {
    content: "\e6ad";
}

:global(.sv-icon-battery-low:before) {
    content: "\e6ae";
}

:global(.sv-icon-beer:before) {
    content: "\e6af";
}

:global(.sv-icon-beaker:before) {
    content: "\e6b0";
}

:global(.sv-icon-bonfire:before) {
    content: "\e6b1";
}

:global(.sv-icon-bookmark:before) {
    content: "\e6b2";
}

:global(.sv-icon-briefcase:before) {
    content: "\e6b3";
}

:global(.sv-icon-bowtie:before) {
    content: "\e6b4";
}

:global(.sv-icon-calculator:before) {
    content: "\e6b5";
}

:global(.sv-icon-calendar:before) {
    content: "\e6b6";
}

:global(.sv-icon-bug:before) {
    content: "\e6b7";
}

:global(.sv-icon-camera:before) {
    content: "\e6b8";
}

:global(.sv-icon-card:before) {
    content: "\e6b9";
}

:global(.sv-icon-chatbox:before) {
    content: "\e6ba";
}

:global(.sv-icon-chatboxes:before) {
    content: "\e6bb";
}

:global(.sv-icon-chatbubble:before) {
    content: "\e6bc";
}

:global(.sv-icon-chatbox-working:before) {
    content: "\e6bd";
}

:global(.sv-icon-cash:before) {
    content: "\e6be";
}

:global(.sv-icon-chatbubbles:before) {
    content: "\e6bf";
}

:global(.sv-icon-checkmark:before) {
    content: "\e6c0";
}

:global(.sv-icon-chatbubble-working:before) {
    content: "\e6c1";
}

:global(.sv-icon-checkmark-round:before) {
    content: "\e6c2";
}

:global(.sv-icon-checkmark-circled:before) {
    content: "\e6c3";
}

:global(.sv-icon-chevron-down:before) {
    content: "\e6c4";
}

:global(.sv-icon-chevron-left:before) {
    content: "\e6c5";
}

:global(.sv-icon-chevron-right:before) {
    content: "\e6c6";
}

:global(.sv-icon-chevron-up:before) {
    content: "\e6c7";
}

:global(.sv-icon-clipboard:before) {
    content: "\e6c8";
}

:global(.sv-icon-close:before) {
    content: "\e6c9";
}

:global(.sv-icon-clock:before) {
    content: "\e6ca";
}

:global(.sv-icon-close-circled:before) {
    content: "\e6cb";
}

:global(.sv-icon-close-round:before) {
    content: "\e6cc";
}

:global(.sv-icon-closed-captioning:before) {
    content: "\e6cd";
}

:global(.sv-icon-cloud:before) {
    content: "\e6ce";
}

:global(.sv-icon-code:before) {
    content: "\e6cf";
}

:global(.sv-icon-code-working:before) {
    content: "\e6d0";
}

:global(.sv-icon-code-download:before) {
    content: "\e6d1";
}

:global(.sv-icon-coffee:before) {
    content: "\e6d2";
}

:global(.sv-icon-compass:before) {
    content: "\e6d3";
}

:global(.sv-icon-compose:before) {
    content: "\e6d4";
}

:global(.sv-icon-connection-bars:before) {
    content: "\e6d5";
}

:global(.sv-icon-contrast:before) {
    content: "\e6d6";
}

:global(.sv-icon-crop:before) {
    content: "\e6d7";
}

:global(.sv-icon-disc:before) {
    content: "\e6d8";
}

:global(.sv-icon-document:before) {
    content: "\e6d9";
}

:global(.sv-icon-cube:before) {
    content: "\e6da";
}

:global(.sv-icon-drag:before) {
    content: "\e6db";
}

:global(.sv-icon-document-text:before) {
    content: "\e6dc";
}

:global(.sv-icon-edit:before) {
    content: "\e6dd";
}

:global(.sv-icon-easel:before) {
    content: "\e6de";
}

:global(.sv-icon-egg:before) {
    content: "\e6df";
}

:global(.sv-icon-eject:before) {
    content: "\e6e0";
}

:global(.sv-icon-earth:before) {
    content: "\e6e1";
}

:global(.sv-icon-email:before) {
    content: "\e6e2";
}

:global(.sv-icon-erlenmeyer-flask-bub:before) {
    content: "\e6e3";
}

:global(.sv-icon-email-unread:before) {
    content: "\e6e4";
}

:global(.sv-icon-erlenmeyer-flask:before) {
    content: "\e6e5";
}

:global(.sv-icon-eye:before) {
    content: "\e6e6";
}

:global(.sv-icon-female:before) {
    content: "\e6e7";
}

:global(.sv-icon-eye-disabled:before) {
    content: "\e6e8";
}

:global(.sv-icon-filing:before) {
    content: "\e6e9";
}

:global(.sv-icon-flag:before) {
    content: "\e6ea";
}

:global(.sv-icon-film-marker:before) {
    content: "\e6eb";
}

:global(.sv-icon-flash:before) {
    content: "\e6ec";
}

:global(.sv-icon-flame:before) {
    content: "\e6ed";
}

:global(.sv-icon-fireball:before) {
    content: "\e6ee";
}

:global(.sv-icon-folder:before) {
    content: "\e6ef";
}

:global(.sv-icon-flash-off:before) {
    content: "\e6f0";
}

:global(.sv-icon-forward:before) {
    content: "\e6f1";
}

:global(.sv-icon-fork:before) {
    content: "\e6f2";
}

:global(.sv-icon-fork-repo:before) {
    content: "\e6f3";
}

:global(.sv-icon-funnel:before) {
    content: "\e6f4";
}

:global(.sv-icon-gear-a:before) {
    content: "\e6f5";
}

:global(.sv-icon-gear-b:before) {
    content: "\e6f6";
}

:global(.sv-icon-hammer:before) {
    content: "\e6f7";
}

:global(.sv-icon-grid:before) {
    content: "\e6f8";
}

:global(.sv-icon-headphone:before) {
    content: "\e6f9";
}

:global(.sv-icon-happy:before) {
    content: "\e6fa";
}

:global(.sv-icon-heart:before) {
    content: "\e6fb";
}

:global(.sv-icon-happy-outline:before) {
    content: "\e6fc";
}

:global(.sv-icon-home:before) {
    content: "\e6fd";
}

:global(.sv-icon-heart-broken:before) {
    content: "\e6fe";
}

:global(.sv-icon-help:before) {
    content: "\e6ff";
}

:global(.sv-icon-help-buoy:before) {
    content: "\e700";
}

:global(.sv-icon-icecream:before) {
    content: "\e701";
}

:global(.sv-icon-information:before) {
    content: "\e702";
}

:global(.sv-icon-information-circled:before) {
    content: "\e703";
}

:global(.sv-icon-image:before) {
    content: "\e704";
}

:global(.sv-icon-images:before) {
    content: "\e705";
}

:global(.sv-icon-ios-alarm:before) {
    content: "\e706";
}

:global(.sv-icon-ios-albums:before) {
    content: "\e707";
}

:global(.sv-icon-ios-alarm-outline:before) {
    content: "\e708";
}

:global(.sv-icon-help-circled:before) {
    content: "\e709";
}

:global(.sv-icon-ios-albums-outline:before) {
    content: "\e70a";
}

:global(.sv-icon-ionic:before) {
    content: "\e70b";
}

:global(.sv-icon-ios-arrow-back:before) {
    content: "\e70c";
}

:global(.sv-icon-ios-americanfootball:before) {
    content: "\e70d";
}

:global(.sv-icon-ios-americanfootball1:before) {
    content: "\e70e";
}

:global(.sv-icon-ios-analytics-outlin:before) {
    content: "\e70f";
}

:global(.sv-icon-ios-arrow-down:before) {
    content: "\e710";
}

:global(.sv-icon-ios-analytics:before) {
    content: "\e711";
}

:global(.sv-icon-ios-arrow-left:before) {
    content: "\e712";
}

:global(.sv-icon-ios-arrow-forward:before) {
    content: "\e713";
}

:global(.sv-icon-ios-arrow-right:before) {
    content: "\e714";
}

:global(.sv-icon-ios-arrow-thin-left:before) {
    content: "\e715";
}

:global(.sv-icon-ios-arrow-thin-down:before) {
    content: "\e716";
}

:global(.sv-icon-ios-arrow-thin-right:before) {
    content: "\e717";
}

:global(.sv-icon-ios-arrow-thin-up:before) {
    content: "\e718";
}

:global(.sv-icon-ios-arrow-up:before) {
    content: "\e719";
}

:global(.sv-icon-ios-barcode:before) {
    content: "\e71a";
}

:global(.sv-icon-ios-at:before) {
    content: "\e71b";
}

:global(.sv-icon-ios-barcode-outline:before) {
    content: "\e71c";
}

:global(.sv-icon-ios-at-outline:before) {
    content: "\e71d";
}

:global(.sv-icon-ios-baseball:before) {
    content: "\e71e";
}

:global(.sv-icon-ios-bell:before) {
    content: "\e71f";
}

:global(.sv-icon-ios-basketball:before) {
    content: "\e720";
}

:global(.sv-icon-ios-basketball-outli:before) {
    content: "\e721";
}

:global(.sv-icon-ios-bell-outline:before) {
    content: "\e722";
}

:global(.sv-icon-ios-baseball-outline:before) {
    content: "\e723";
}

:global(.sv-icon-ios-body:before) {
    content: "\e724";
}

:global(.sv-icon-ios-bolt:before) {
    content: "\e725";
}

:global(.sv-icon-ios-body-outline:before) {
    content: "\e726";
}

:global(.sv-icon-ios-bolt-outline:before) {
    content: "\e727";
}

:global(.sv-icon-ios-book:before) {
    content: "\e728";
}

:global(.sv-icon-ios-bookmarks:before) {
    content: "\e729";
}

:global(.sv-icon-ios-bookmarks-outlin:before) {
    content: "\e72a";
}

:global(.sv-icon-ios-box:before) {
    content: "\e72b";
}

:global(.sv-icon-ios-book-outline:before) {
    content: "\e72c";
}

:global(.sv-icon-ios-box-outline:before) {
    content: "\e72d";
}

:global(.sv-icon-ios-briefcase:before) {
    content: "\e72e";
}

:global(.sv-icon-ios-briefcase-outlin:before) {
    content: "\e72f";
}

:global(.sv-icon-ios-browsers:before) {
    content: "\e730";
}

:global(.sv-icon-ios-calculator:before) {
    content: "\e731";
}

:global(.sv-icon-ios-calculator-outli:before) {
    content: "\e732";
}

:global(.sv-icon-ios-calendar:before) {
    content: "\e733";
}

:global(.sv-icon-ios-calendar-outline:before) {
    content: "\e734";
}

:global(.sv-icon-ios-browsers-outline:before) {
    content: "\e735";
}

:global(.sv-icon-ios-camera:before) {
    content: "\e736";
}

:global(.sv-icon-ios-camera-outline:before) {
    content: "\e737";
}

:global(.sv-icon-ios-chatboxes-outlin:before) {
    content: "\e738";
}

:global(.sv-icon-ios-chatboxes:before) {
    content: "\e739";
}

:global(.sv-icon-ios-cart-outline:before) {
    content: "\e73a";
}

:global(.sv-icon-ios-cart:before) {
    content: "\e73b";
}

:global(.sv-icon-ios-chatbubble:before) {
    content: "\e73c";
}

:global(.sv-icon-ios-checkmark:before) {
    content: "\e73d";
}

:global(.sv-icon-ios-checkmark-empty:before) {
    content: "\e73e";
}

:global(.sv-icon-ios-chatbubble-outli:before) {
    content: "\e73f";
}

:global(.sv-icon-ios-circle-filled:before) {
    content: "\e740";
}

:global(.sv-icon-ios-checkmark-outlin:before) {
    content: "\e741";
}

:global(.sv-icon-ios-circle-outline:before) {
    content: "\e742";
}

:global(.sv-icon-ios-clock:before) {
    content: "\e743";
}

:global(.sv-icon-ios-clock-outline:before) {
    content: "\e744";
}

:global(.sv-icon-ios-close:before) {
    content: "\e745";
}

:global(.sv-icon-ios-close-empty:before) {
    content: "\e746";
}

:global(.sv-icon-ios-cloud:before) {
    content: "\e747";
}

:global(.sv-icon-ios-cloud-download:before) {
    content: "\e748";
}

:global(.sv-icon-ios-close-outline:before) {
    content: "\e749";
}

:global(.sv-icon-ios-cloud-download-o:before) {
    content: "\e74a";
}

:global(.sv-icon-ios-cloud-outline:before) {
    content: "\e74b";
}

:global(.sv-icon-ios-cloud-upload:before) {
    content: "\e74c";
}

:global(.sv-icon-ios-cloudy:before) {
    content: "\e74d";
}

:global(.sv-icon-ios-cloud-upload-out:before) {
    content: "\e74e";
}

:global(.sv-icon-ios-cloudy-night:before) {
    content: "\e74f";
}

:global(.sv-icon-ios-cloudy-night-out:before) {
    content: "\e750";
}

:global(.sv-icon-ios-cloudy-outline:before) {
    content: "\e751";
}

:global(.sv-icon-ios-cog:before) {
    content: "\e752";
}

:global(.sv-icon-ios-cog-outline:before) {
    content: "\e753";
}

:global(.sv-icon-ios-color-filter-out:before) {
    content: "\e754";
}

:global(.sv-icon-ios-color-filter:before) {
    content: "\e755";
}

:global(.sv-icon-ios-color-wand:before) {
    content: "\e756";
}

:global(.sv-icon-ios-compose:before) {
    content: "\e757";
}

:global(.sv-icon-ios-color-wand-outli:before) {
    content: "\e758";
}

:global(.sv-icon-ios-copy:before) {
    content: "\e759";
}

:global(.sv-icon-ios-compose-outline:before) {
    content: "\e75a";
}

:global(.sv-icon-ios-contact:before) {
    content: "\e75b";
}

:global(.sv-icon-ios-contact-outline:before) {
    content: "\e75c";
}

:global(.sv-icon-ios-copy-outline:before) {
    content: "\e75d";
}

:global(.sv-icon-ios-crop:before) {
    content: "\e75e";
}

:global(.sv-icon-ios-crop-strong:before) {
    content: "\e75f";
}

:global(.sv-icon-ios-download:before) {
    content: "\e760";
}

:global(.sv-icon-ios-drag:before) {
    content: "\e761";
}

:global(.sv-icon-ios-download-outline:before) {
    content: "\e762";
}

:global(.sv-icon-ios-email:before) {
    content: "\e763";
}

:global(.sv-icon-ios-email-outline:before) {
    content: "\e764";
}

:global(.sv-icon-ios-fastforward-outl:before) {
    content: "\e765";
}

:global(.sv-icon-ios-eye:before) {
    content: "\e766";
}

:global(.sv-icon-ios-fastforward:before) {
    content: "\e767";
}

:global(.sv-icon-ios-eye-outline:before) {
    content: "\e768";
}

:global(.sv-icon-ios-filing-outline:before) {
    content: "\e769";
}

:global(.sv-icon-ios-filing:before) {
    content: "\e76a";
}

:global(.sv-icon-ios-film:before) {
    content: "\e76b";
}

:global(.sv-icon-ios-flag:before) {
    content: "\e76c";
}

:global(.sv-icon-ios-flame:before) {
    content: "\e76d";
}

:global(.sv-icon-ios-flag-outline:before) {
    content: "\e76e";
}

:global(.sv-icon-ios-flame-outline:before) {
    content: "\e76f";
}

:global(.sv-icon-ios-flask:before) {
    content: "\e770";
}

:global(.sv-icon-ios-flask-outline:before) {
    content: "\e771";
}

:global(.sv-icon-ios-folder:before) {
    content: "\e772";
}

:global(.sv-icon-ios-film-outline:before) {
    content: "\e773";
}

:global(.sv-icon-ios-flower:before) {
    content: "\e774";
}

:global(.sv-icon-ios-folder-outline:before) {
    content: "\e775";
}

:global(.sv-icon-ios-flower-outline:before) {
    content: "\e776";
}

:global(.sv-icon-ios-gear:before) {
    content: "\e77d";
}

:global(.sv-icon-ios-grid-view:before) {
    content: "\e77e";
}

:global(.sv-icon-ios-glasses:before) {
    content: "\e77f";
}

:global(.sv-icon-ios-glasses-outline:before) {
    content: "\e780";
}

:global(.sv-icon-ios-gear-outline:before) {
    content: "\e781";
}

:global(.sv-icon-ios-grid-view-outlin:before) {
    content: "\e782";
}

:global(.sv-icon-ios-heart:before) {
    content: "\e783";
}

:global(.sv-icon-ios-help:before) {
    content: "\e784";
}

:global(.sv-icon-ios-heart-outline:before) {
    content: "\e785";
}

:global(.sv-icon-ios-help-empty:before) {
    content: "\e786";
}

:global(.sv-icon-ios-home:before) {
    content: "\e787";
}

:global(.sv-icon-ios-home-outline:before) {
    content: "\e788";
}

:global(.sv-icon-ios-help-outline:before) {
    content: "\e789";
}

:global(.sv-icon-ios-information:before) {
    content: "\e78a";
}

:global(.sv-icon-ios-information-empt:before) {
    content: "\e78b";
}

:global(.sv-icon-ios-infinite:before) {
    content: "\e78c";
}

:global(.sv-icon-ios-infinite-outline:before) {
    content: "\e78d";
}

:global(.sv-icon-ios-ionic-outline:before) {
    content: "\e78e";
}

:global(.sv-icon-ios-information-outl:before) {
    content: "\e78f";
}

:global(.sv-icon-ios-keypad:before) {
    content: "\e790";
}

:global(.sv-icon-ios-list:before) {
    content: "\e791";
}

:global(.sv-icon-ios-list-outline:before) {
    content: "\e792";
}

:global(.sv-icon-ios-location:before) {
    content: "\e793";
}

:global(.sv-icon-ios-locked:before) {
    content: "\e794";
}

:global(.sv-icon-ios-location-outline:before) {
    content: "\e795";
}

:global(.sv-icon-ios-locked-outline:before) {
    content: "\e796";
}

:global(.sv-icon-ios-lightbulb:before) {
    content: "\e797";
}

:global(.sv-icon-ios-lightbulb-outlin:before) {
    content: "\e798";
}

:global(.sv-icon-ios-loop-strong:before) {
    content: "\e799";
}

:global(.sv-icon-ios-loop:before) {
    content: "\e79a";
}

:global(.sv-icon-ios-medical:before) {
    content: "\e79b";
}

:global(.sv-icon-ios-medkit:before) {
    content: "\e79c";
}

:global(.sv-icon-ios-medical-outline:before) {
    content: "\e79d";
}

:global(.sv-icon-ios-mic:before) {
    content: "\e79e";
}

:global(.sv-icon-ios-keypad-outline:before) {
    content: "\e79f";
}

:global(.sv-icon-ios-medkit-outline:before) {
    content: "\e7a0";
}

:global(.sv-icon-ios-minus:before) {
    content: "\e7a1";
}

:global(.sv-icon-ios-mic-outline:before) {
    content: "\e7a2";
}

:global(.sv-icon-ios-minus-empty:before) {
    content: "\e7a3";
}

:global(.sv-icon-ios-monitor:before) {
    content: "\e7a4";
}

:global(.sv-icon-ios-minus-outline:before) {
    content: "\e7a5";
}

:global(.sv-icon-ios-mic-off:before) {
    content: "\e7a6";
}

:global(.sv-icon-ios-monitor-outline:before) {
    content: "\e7a7";
}

:global(.sv-icon-ios-moon:before) {
    content: "\e7a8";
}

:global(.sv-icon-ios-more:before) {
    content: "\e7a9";
}

:global(.sv-icon-ios-musical-note:before) {
    content: "\e7aa";
}

:global(.sv-icon-ios-moon-outline:before) {
    content: "\e7ab";
}

:global(.sv-icon-ios-more-outline:before) {
    content: "\e7ac";
}

:global(.sv-icon-ios-navigate:before) {
    content: "\e7ad";
}

:global(.sv-icon-ios-musical-notes:before) {
    content: "\e7ae";
}

:global(.sv-icon-ios-navigate-outline:before) {
    content: "\e7af";
}

:global(.sv-icon-ios-paper:before) {
    content: "\e7b0";
}

:global(.sv-icon-ios-paperplane:before) {
    content: "\e7b1";
}

:global(.sv-icon-ios-nutrition:before) {
    content: "\e7b2";
}

:global(.sv-icon-ios-paper-outline:before) {
    content: "\e7b3";
}

:global(.sv-icon-ios-paperplane-outli:before) {
    content: "\e7b4";
}

:global(.sv-icon-ios-partlysunny:before) {
    content: "\e7b5";
}

:global(.sv-icon-ios-pause:before) {
    content: "\e7b6";
}

:global(.sv-icon-ios-pause-outline:before) {
    content: "\e7b7";
}

:global(.sv-icon-ios-nutrition-outlin:before) {
    content: "\e7b8";
}

:global(.sv-icon-ios-people-outline:before) {
    content: "\e7b9";
}

:global(.sv-icon-ios-paw-outline:before) {
    content: "\e7ba";
}

:global(.sv-icon-ios-partlysunny-outl:before) {
    content: "\e7bb";
}

:global(.sv-icon-ios-paw:before) {
    content: "\e7bc";
}

:global(.sv-icon-ios-people:before) {
    content: "\e7bd";
}

:global(.sv-icon-ios-person:before) {
    content: "\e7be";
}

:global(.sv-icon-ios-personadd:before) {
    content: "\e7bf";
}

:global(.sv-icon-ios-personadd-outlin:before) {
    content: "\e7c0";
}

:global(.sv-icon-ios-photos:before) {
    content: "\e7c1";
}

:global(.sv-icon-ios-photos-outline:before) {
    content: "\e7c2";
}

:global(.sv-icon-ios-person-outline:before) {
    content: "\e7c3";
}

:global(.sv-icon-ios-pie:before) {
    content: "\e7c4";
}

:global(.sv-icon-ios-play:before) {
    content: "\e7c5";
}

:global(.sv-icon-ios-play-outline:before) {
    content: "\e7c6";
}

:global(.sv-icon-ios-pint:before) {
    content: "\e7c7";
}

:global(.sv-icon-ios-pie-outline:before) {
    content: "\e7c8";
}

:global(.sv-icon-ios-pint-outline:before) {
    content: "\e7c9";
}

:global(.sv-icon-ios-plus:before) {
    content: "\e7ca";
}

:global(.sv-icon-ios-plus-empty:before) {
    content: "\e7cb";
}

:global(.sv-icon-ios-pricetag:before) {
    content: "\e7cc";
}

:global(.sv-icon-ios-plus-outline:before) {
    content: "\e7cd";
}

:global(.sv-icon-ios-pricetag-outline:before) {
    content: "\e7ce";
}

:global(.sv-icon-ios-pricetags:before) {
    content: "\e7cf";
}

:global(.sv-icon-ios-pricetags-outlin:before) {
    content: "\e7d0";
}

:global(.sv-icon-ios-printer:before) {
    content: "\e7d1";
}

:global(.sv-icon-ios-printer-outline:before) {
    content: "\e7d2";
}

:global(.sv-icon-ios-rainy:before) {
    content: "\e7d3";
}

:global(.sv-icon-ios-pulse-strong:before) {
    content: "\e7d4";
}

:global(.sv-icon-ios-pulse:before) {
    content: "\e7d5";
}

:global(.sv-icon-ios-rainy-outline:before) {
    content: "\e7d6";
}

:global(.sv-icon-ios-recording:before) {
    content: "\e7d7";
}

:global(.sv-icon-ios-redo-outline:before) {
    content: "\e7d8";
}

:global(.sv-icon-ios-redo:before) {
    content: "\e7d9";
}

:global(.sv-icon-ios-refresh-empty:before) {
    content: "\e7da";
}

:global(.sv-icon-ios-refresh:before) {
    content: "\e7db";
}

:global(.sv-icon-ios-recording-outlin:before) {
    content: "\e7dc";
}

:global(.sv-icon-ios-reload:before) {
    content: "\e7dd";
}

:global(.sv-icon-ios-refresh-outline:before) {
    content: "\e7de";
}

:global(.sv-icon-ios-reverse-camera:before) {
    content: "\e7df";
}

:global(.sv-icon-ios-rewind:before) {
    content: "\e7e0";
}

:global(.sv-icon-ios-reverse-camera-o:before) {
    content: "\e7e1";
}

:global(.sv-icon-ios-rewind-outline:before) {
    content: "\e7e2";
}

:global(.sv-icon-ios-search:before) {
    content: "\e7e3";
}

:global(.sv-icon-ios-rose:before) {
    content: "\e7e4";
}

:global(.sv-icon-ios-search-strong:before) {
    content: "\e7e5";
}

:global(.sv-icon-ios-rose-outline:before) {
    content: "\e7e6";
}

:global(.sv-icon-ios-settings-strong:before) {
    content: "\e7e7";
}

:global(.sv-icon-ios-settings:before) {
    content: "\e7e8";
}

:global(.sv-icon-ios-skipbackward:before) {
    content: "\e7e9";
}

:global(.sv-icon-ios-shuffle:before) {
    content: "\e7ea";
}

:global(.sv-icon-ios-skipbackward-out:before) {
    content: "\e7eb";
}

:global(.sv-icon-ios-skipforward:before) {
    content: "\e7ec";
}

:global(.sv-icon-ios-skipforward-outl:before) {
    content: "\e7ed";
}

:global(.sv-icon-ios-shuffle-strong:before) {
    content: "\e7ee";
}

:global(.sv-icon-ios-snowy:before) {
    content: "\e7ef";
}

:global(.sv-icon-ios-star-half:before) {
    content: "\e7f0";
}

:global(.sv-icon-ios-star-outline:before) {
    content: "\e7f1";
}

:global(.sv-icon-ios-speedometer:before) {
    content: "\e7f2";
}

:global(.sv-icon-ios-speedometer-outl:before) {
    content: "\e7f3";
}

:global(.sv-icon-ios-stopwatch:before) {
    content: "\e7f4";
}

:global(.sv-icon-ios-stopwatch-outlin:before) {
    content: "\e7f5";
}

:global(.sv-icon-ios-sunny:before) {
    content: "\e7f6";
}

:global(.sv-icon-ios-sunny-outline:before) {
    content: "\e7f7";
}

:global(.sv-icon-ios-star:before) {
    content: "\e7f8";
}

:global(.sv-icon-ios-telephone:before) {
    content: "\e7f9";
}

:global(.sv-icon-ios-telephone-outlin:before) {
    content: "\e7fa";
}

:global(.sv-icon-ios-thunderstorm:before) {
    content: "\e7fb";
}

:global(.sv-icon-ios-tennisball:before) {
    content: "\e7fc";
}

:global(.sv-icon-ios-thunderstorm-out:before) {
    content: "\e7fd";
}

:global(.sv-icon-ios-tennisball-outli:before) {
    content: "\e7fe";
}

:global(.sv-icon-ios-time:before) {
    content: "\e7ff";
}

:global(.sv-icon-ios-time-outline:before) {
    content: "\e800";
}

:global(.sv-icon-ios-timer:before) {
    content: "\e801";
}

:global(.sv-icon-ios-timer-outline:before) {
    content: "\e802";
}

:global(.sv-icon-ios-toggle:before) {
    content: "\e803";
}

:global(.sv-icon-ios-trash:before) {
    content: "\e804";
}

:global(.sv-icon-ios-toggle-outline:before) {
    content: "\e805";
}

:global(.sv-icon-ios-undo:before) {
    content: "\e806";
}

:global(.sv-icon-ios-undo-outline:before) {
    content: "\e807";
}

:global(.sv-icon-ios-unlocked:before) {
    content: "\e808";
}

:global(.sv-icon-ios-trash-outline:before) {
    content: "\e809";
}

:global(.sv-icon-ios-upload:before) {
    content: "\e80a";
}

:global(.sv-icon-ios-upload-outline:before) {
    content: "\e80b";
}

:global(.sv-icon-ios-videocam:before) {
    content: "\e80c";
}

:global(.sv-icon-ios-unlocked-outline:before) {
    content: "\e80d";
}

:global(.sv-icon-ios-videocam-outline:before) {
    content: "\e80e";
}

:global(.sv-icon-ios-volume-high:before) {
    content: "\e80f";
}

:global(.sv-icon-knife:before) {
    content: "\e810";
}

:global(.sv-icon-leaf:before) {
    content: "\e811";
}

:global(.sv-icon-laptop:before) {
    content: "\e812";
}

:global(.sv-icon-levels:before) {
    content: "\e813";
}

:global(.sv-icon-link:before) {
    content: "\e814";
}

:global(.sv-icon-lightbulb:before) {
    content: "\e815";
}

:global(.sv-icon-load-b:before) {
    content: "\e816";
}

:global(.sv-icon-load-a:before) {
    content: "\e817";
}

:global(.sv-icon-load-c:before) {
    content: "\e818";
}

:global(.sv-icon-location:before) {
    content: "\e819";
}

:global(.sv-icon-locked:before) {
    content: "\e81a";
}

:global(.sv-icon-log-in:before) {
    content: "\e81b";
}

:global(.sv-icon-load-d:before) {
    content: "\e81c";
}

:global(.sv-icon-log-out:before) {
    content: "\e81d";
}

:global(.sv-icon-lock-combination:before) {
    content: "\e81e";
}

:global(.sv-icon-loop:before) {
    content: "\e81f";
}

:global(.sv-icon-man:before) {
    content: "\e820";
}

:global(.sv-icon-male:before) {
    content: "\e821";
}

:global(.sv-icon-magnet:before) {
    content: "\e822";
}

:global(.sv-icon-medkit:before) {
    content: "\e823";
}

:global(.sv-icon-merge:before) {
    content: "\e824";
}

:global(.sv-icon-mic-c:before) {
    content: "\e825";
}

:global(.sv-icon-map:before) {
    content: "\e826";
}

:global(.sv-icon-mic-b:before) {
    content: "\e827";
}

:global(.sv-icon-mic-a:before) {
    content: "\e828";
}

:global(.sv-icon-minus:before) {
    content: "\e829";
}

:global(.sv-icon-minus-round:before) {
    content: "\e82a";
}

:global(.sv-icon-minus-circled:before) {
    content: "\e82b";
}

:global(.sv-icon-monitor:before) {
    content: "\e82c";
}

:global(.sv-icon-model-s:before) {
    content: "\e82d";
}

:global(.sv-icon-more:before) {
    content: "\e82e";
}

:global(.sv-icon-music-note:before) {
    content: "\e82f";
}

:global(.sv-icon-navicon:before) {
    content: "\e830";
}

:global(.sv-icon-navicon-round:before) {
    content: "\e831";
}

:global(.sv-icon-mouse:before) {
    content: "\e832";
}

:global(.sv-icon-navigate:before) {
    content: "\e833";
}

:global(.sv-icon-network:before) {
    content: "\e834";
}

:global(.sv-icon-no-smoking:before) {
    content: "\e835";
}

:global(.sv-icon-paintbucket:before) {
    content: "\e836";
}

:global(.sv-icon-paper-airplane:before) {
    content: "\e837";
}

:global(.sv-icon-outlet:before) {
    content: "\e838";
}

:global(.sv-icon-nuclear:before) {
    content: "\e839";
}

:global(.sv-icon-paintbrush:before) {
    content: "\e83a";
}

:global(.sv-icon-paperclip:before) {
    content: "\e83b";
}

:global(.sv-icon-pause:before) {
    content: "\e83c";
}

:global(.sv-icon-person:before) {
    content: "\e83d";
}

:global(.sv-icon-pie-graph:before) {
    content: "\e83e";
}

:global(.sv-icon-person-add:before) {
    content: "\e83f";
}

:global(.sv-icon-person-stalker:before) {
    content: "\e840";
}

:global(.sv-icon-pinpoint:before) {
    content: "\e841";
}

:global(.sv-icon-pin:before) {
    content: "\e842";
}

:global(.sv-icon-pizza:before) {
    content: "\e843";
}

:global(.sv-icon-play:before) {
    content: "\e844";
}

:global(.sv-icon-plane:before) {
    content: "\e845";
}

:global(.sv-icon-plus:before) {
    content: "\e846";
}

:global(.sv-icon-planet:before) {
    content: "\e847";
}

:global(.sv-icon-playstation:before) {
    content: "\e848";
}

:global(.sv-icon-plus-round:before) {
    content: "\e849";
}

:global(.sv-icon-podium:before) {
    content: "\e84a";
}

:global(.sv-icon-pound:before) {
    content: "\e84b";
}

:global(.sv-icon-plus-circled:before) {
    content: "\e84c";
}

:global(.sv-icon-power:before) {
    content: "\e84d";
}

:global(.sv-icon-pricetag:before) {
    content: "\e84e";
}

:global(.sv-icon-printer:before) {
    content: "\e84f";
}

:global(.sv-icon-qr-scanner:before) {
    content: "\e850";
}

:global(.sv-icon-pull-request:before) {
    content: "\e851";
}

:global(.sv-icon-pricetags:before) {
    content: "\e852";
}

:global(.sv-icon-quote:before) {
    content: "\e853";
}

:global(.sv-icon-reply:before) {
    content: "\e854";
}

:global(.sv-icon-record:before) {
    content: "\e855";
}

:global(.sv-icon-radio-waves:before) {
    content: "\e856";
}

:global(.sv-icon-ribbon-a:before) {
    content: "\e857";
}

:global(.sv-icon-reply-all:before) {
    content: "\e858";
}

:global(.sv-icon-refresh:before) {
    content: "\e859";
}

:global(.sv-icon-ribbon-b:before) {
    content: "\e85a";
}

:global(.sv-icon-sad:before) {
    content: "\e85b";
}

:global(.sv-icon-search:before) {
    content: "\e85c";
}

:global(.sv-icon-sad-outline:before) {
    content: "\e85d";
}

:global(.sv-icon-settings:before) {
    content: "\e85e";
}

:global(.sv-icon-scissors:before) {
    content: "\e85f";
}

:global(.sv-icon-share:before) {
    content: "\e860";
}

:global(.sv-icon-shuffle:before) {
    content: "\e861";
}

:global(.sv-icon-skip-forward:before) {
    content: "\e862";
}

:global(.sv-icon-skip-backward:before) {
    content: "\e863";
}

:global(.sv-icon-social-angular:before) {
    content: "\e864";
}

:global(.sv-icon-social-android:before) {
    content: "\e865";
}

:global(.sv-icon-social-angular-outli:before) {
    content: "\e866";
}

:global(.sv-icon-social-android-outli:before) {
    content: "\e867";
}

:global(.sv-icon-social-apple:before) {
    content: "\e868";
}

:global(.sv-icon-social-apple-outline:before) {
    content: "\e869";
}

:global(.sv-icon-social-bitcoin:before) {
    content: "\e86a";
}

:global(.sv-icon-social-buffer:before) {
    content: "\e86b";
}

:global(.sv-icon-social-buffer-outlin:before) {
    content: "\e86c";
}

:global(.sv-icon-social-bitcoin-outli:before) {
    content: "\e86d";
}

:global(.sv-icon-social-chrome-outlin:before) {
    content: "\e86e";
}

:global(.sv-icon-social-chrome:before) {
    content: "\e86f";
}

:global(.sv-icon-social-codepen:before) {
    content: "\e871";
}

:global(.sv-icon-social-codepen-outli:before) {
    content: "\e873";
}

:global(.sv-icon-social-designernews:before) {
    content: "\e874";
}

:global(.sv-icon-social-dropbox:before) {
    content: "\e875";
}

:global(.sv-icon-social-designernews-:before) {
    content: "\e876";
}

:global(.sv-icon-social-dribbble-outl:before) {
    content: "\e877";
}

:global(.sv-icon-social-dribbble:before) {
    content: "\e878";
}

:global(.sv-icon-social-euro:before) {
    content: "\e879";
}

:global(.sv-icon-social-dropbox-outli:before) {
    content: "\e87a";
}

:global(.sv-icon-social-facebook-outl:before) {
    content: "\e87b";
}

:global(.sv-icon-social-facebook:before) {
    content: "\e87c";
}

:global(.sv-icon-social-euro-outline:before) {
    content: "\e87d";
}

:global(.sv-icon-social-foursquare:before) {
    content: "\e87e";
}

:global(.sv-icon-social-freebsd-devil:before) {
    content: "\e87f";
}

:global(.sv-icon-social-github:before) {
    content: "\e880";
}

:global(.sv-icon-social-foursquare-ou:before) {
    content: "\e881";
}

:global(.sv-icon-social-github-outlin:before) {
    content: "\e882";
}

:global(.sv-icon-social-hackernews-ou:before) {
    content: "\e886";
}

:global(.sv-icon-social-hackernews:before) {
    content: "\e887";
}

:global(.sv-icon-social-instagram-out:before) {
    content: "\e88b";
}

:global(.sv-icon-social-instagram:before) {
    content: "\e88c";
}

:global(.sv-icon-social-linkedin:before) {
    content: "\e88e";
}

:global(.sv-icon-social-linkedin-outl:before) {
    content: "\e890";
}

:global(.sv-icon-social-markdown:before) {
    content: "\e891";
}

:global(.sv-icon-social-pinterest:before) {
    content: "\e892";
}

:global(.sv-icon-social-pinterest-out:before) {
    content: "\e893";
}

:global(.sv-icon-social-nodejs:before) {
    content: "\e894";
}

:global(.sv-icon-social-octocat:before) {
    content: "\e895";
}

:global(.sv-icon-social-python:before) {
    content: "\e896";
}

:global(.sv-icon-social-reddit:before) {
    content: "\e897";
}

:global(.sv-icon-social-rss:before) {
    content: "\e898";
}

:global(.sv-icon-social-reddit-outlin:before) {
    content: "\e899";
}

:global(.sv-icon-social-rss-outline:before) {
    content: "\e89a";
}

:global(.sv-icon-social-skype:before) {
    content: "\e89b";
}

:global(.sv-icon-social-skype-outline:before) {
    content: "\e89d";
}

:global(.sv-icon-social-tumblr:before) {
    content: "\e89e";
}

:global(.sv-icon-social-snapchat:before) {
    content: "\e89f";
}

:global(.sv-icon-social-tumblr-outlin:before) {
    content: "\e8a0";
}

:global(.sv-icon-social-twitch:before) {
    content: "\e8a1";
}

:global(.sv-icon-social-twitch-outlin:before) {
    content: "\e8a2";
}

:global(.sv-icon-social-snapchat-outl:before) {
    content: "\e8a3";
}

:global(.sv-icon-social-twitter:before) {
    content: "\e8a4";
}

:global(.sv-icon-social-tux:before) {
    content: "\e8a5";
}

:global(.sv-icon-social-twitter-outli:before) {
    content: "\e8a6";
}

:global(.sv-icon-social-usd:before) {
    content: "\e8a7";
}

:global(.sv-icon-social-vimeo:before) {
    content: "\e8a8";
}

:global(.sv-icon-social-vimeo-outline:before) {
    content: "\e8a9";
}

:global(.sv-icon-social-usd-outline:before) {
    content: "\e8aa";
}

:global(.sv-icon-social-windows:before) {
    content: "\e8ab";
}

:global(.sv-icon-social-whatsapp:before) {
    content: "\e8ac";
}

:global(.sv-icon-social-whatsapp-outl:before) {
    content: "\e8ad";
}

:global(.sv-icon-social-windows-outli:before) {
    content: "\e8ae";
}

:global(.sv-icon-social-yahoo:before) {
    content: "\e8af";
}

:global(.sv-icon-social-wordpress-out:before) {
    content: "\e8b0";
}

:global(.sv-icon-social-yen:before) {
    content: "\e8b1";
}

:global(.sv-icon-social-yahoo-outline:before) {
    content: "\e8b2";
}

:global(.sv-icon-social-wordpress:before) {
    content: "\e8b3";
}

:global(.sv-icon-social-yen-outline:before) {
    content: "\e8b4";
}

:global(.sv-icon-social-youtube:before) {
    content: "\e8b5";
}

:global(.sv-icon-social-youtube-outli:before) {
    content: "\e8b6";
}

:global(.sv-icon-soup-can:before) {
    content: "\e8b7";
}

:global(.sv-icon-soup-can-outline:before) {
    content: "\e8b8";
}

:global(.sv-icon-speakerphone:before) {
    content: "\e8b9";
}

:global(.sv-icon-speedometer:before) {
    content: "\e8ba";
}

:global(.sv-icon-spoon:before) {
    content: "\e8bb";
}

:global(.sv-icon-star:before) {
    content: "\e8bc";
}

:global(.sv-icon-stats-bars:before) {
    content: "\e8bd";
}

:global(.sv-icon-stop:before) {
    content: "\e8be";
}

:global(.sv-icon-thermometer:before) {
    content: "\e8bf";
}

:global(.sv-icon-steam:before) {
    content: "\e8c0";
}

:global(.sv-icon-thumbsdown:before) {
    content: "\e8c1";
}

:global(.sv-icon-thumbsup:before) {
    content: "\e8c2";
}

:global(.sv-icon-toggle:before) {
    content: "\e8c3";
}

:global(.sv-icon-toggle-filled:before) {
    content: "\e8c4";
}

:global(.sv-icon-trash-a:before) {
    content: "\e8c5";
}

:global(.sv-icon-transgender:before) {
    content: "\e8c6";
}

:global(.sv-icon-tshirt:before) {
    content: "\e8c7";
}

:global(.sv-icon-trophy:before) {
    content: "\e8c8";
}

:global(.sv-icon-trash-b:before) {
    content: "\e8c9";
}

:global(.sv-icon-tshirt-outline:before) {
    content: "\e8ca";
}

:global(.sv-icon-umbrella:before) {
    content: "\e8cb";
}

:global(.sv-icon-university:before) {
    content: "\e8cc";
}

:global(.sv-icon-unlocked:before) {
    content: "\e8cd";
}

:global(.sv-icon-upload:before) {
    content: "\e8ce";
}

:global(.sv-icon-volume-low:before) {
    content: "\e8cf";
}

:global(.sv-icon-usb:before) {
    content: "\e8d0";
}

:global(.sv-icon-videocamera:before) {
    content: "\e8d1";
}

:global(.sv-icon-volume-medium:before) {
    content: "\e8d2";
}

:global(.sv-icon-volume-high:before) {
    content: "\e8d3";
}

:global(.sv-icon-volume-mute:before) {
    content: "\e8d4";
}

:global(.sv-icon-woman:before) {
    content: "\e8d5";
}

:global(.sv-icon-waterdrop:before) {
    content: "\e8d6";
}

:global(.sv-icon-wand:before) {
    content: "\e8d7";
}

:global(.sv-icon-wineglass:before) {
    content: "\e8d8";
}

:global(.sv-icon-wrench:before) {
    content: "\e8d9";
}

:global(.sv-icon-wifi:before) {
    content: "\e8da";
}

:global(.sv-icon-jet:before) {
    content: "\e8db";
}

:global(.sv-icon-xbox:before) {
    content: "\e8dc";
}

:global(.sv-icon-key:before) {
    content: "\e8dd";
}

:global(.sv-icon-out1:before) {
    content: "\e95e";
}

:global(.sv-icon-UserSettings:before) {
    content: "\e95f";
}

:global(.sv-icon-lock:before) {
    content: "\e960";
}

:global(.sv-icon-right:before) {
    content: "\e961";
}

:global(.sv-icon-xinxi:before) {
    content: "\e962";
}

