.wrap {
  padding: 0;
  margin: 0;
}
:global(.lugia-table .rc-table-content table) {
  border-collapse: collapse;
}
:global(.lugia-table .rc-table-content) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table-header) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table-body) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table-fixed-column .rc-table-body::after) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table-ping-right .rc-table-cell-fix-right-first::after) {
  box-shadow: inset -10px 0 8px -8px #4d63ff;
}
:global(.lugia-table .rc-table-cell-fix-right-first) {
  box-shadow: -1px 0 0 #4d63ff;
}
:global(.lugia-table .rc-table-expanded-row .rc-table-cell) {
  box-shadow: inset 0 8px 8px -8px #4d63ff;
}
:global(.lugia-table .rc-table th) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table td) {
  border-color: #e8e8e8;
}
:global(.lugia-table .rc-table-expanded-row .rc-table-cell) {
  border-color: #e8e8e8;
}
/*:global(.lugia-table .rc-table tbody tr:hover td) {*/
/*background-color: rgba(77, 99, 255, 0.05);*/
/*}*/

:global(.lugia-table-zebraStripe .rc-table-content table tbody tr:nth-of-type(even) td) {
  background-color: #f2f2f2;
}

:global(.lugia-table-linear .rc-table-content table thead) {
  /*border-bottom: 1px solid #e8e8e8;*/
  border-color: transparent;
  border-top-color: #e8e8e8;
}
:global(.lugia-table-linear .rc-table-content) {
  border-color: transparent;
}
/*:global(.lugia-table-linear .rc-table-content table thead tr th) {*/
/*border: none;*/
/*}*/
:global(.lugia-table-linear .rc-table .rc-table-content th) {
  border-color: #e8e8e8;
}
:global(.lugia-table-linear .rc-table .rc-table-content td) {
  border-color: transparent;
  border-bottom-color: #e8e8e8;
}

/*:global(.rc-table tr:hover) {*/
/*background: rgba(77, 99, 255, 0.05);*/
/*}*/
:global(.rc-table-expanded-row td) {
  padding: 16px 20px;
}
:global(.rc-table colgroup .lugia-selection-col) {
  width: 60px;
}
:global(.rc-table .lugia-select-column) {
  text-align: center;
}
:global(.rc-table .rc-table-row-expand-icon) {
  margin-right: 8px;
}
:global(.rc-table .rc-table-row-expand-icon-cell .rc-table-row-expand-icon) {
  margin-right: 0;
}
:global(.rc-table .rc-table-row-expand-icon-cell) {
  width: 50px;
  text-align: center;
  min-width: 50px;
}
:global(.rc-table .rc-table-row-expand-icon:hover) {
  color: #4d63ff;
  border-color: #4d63ff;
}
:global(.rc-table .rc-table-row-expand-icon:active) {
  color: #324dff;
  border-color: #324dff;
}
:global(.rc-table .rc-table-row-expand-icon:focus) {
  color: #4d63ff;
  border-color: #4d63ff;
}

:global(.lugia-small-table .rc-table thead tr) {
  height: 24px;
}
:global(.lugia-small-table .rc-table tbody .rc-table-row) {
  height: 24px;
}

:global(.lugia-default-table .rc-table thead tr) {
  height: 32px;
}
:global(.lugia-default-table .rc-table tbody .rc-table-row) {
  height: 32px;
}

:global(.lugia-large-table .rc-table thead tr) {
  height: 40px;
}
:global(.lugia-large-table .rc-table tbody .rc-table-row) {
  height: 40px;
}
