.wrap {
  padding: 0;
  margin: 0;
}
:global(.lugia-table .rc-table-content table) {
  border-collapse: collapse;
}
:global(.lugia-table .rc-table-content) {
  border: none;
}
:global(.lugia-table .rc-table-header) {
  border: none;
}
:global(.lugia-table .rc-table-body) {
  border: none;
}
:global(.lugia-table .rc-table-fixed-column .rc-table-body::after) {
  border: none;
}
:global(.lugia-table .rc-table-ping-right .rc-table-cell-fix-right-first::after) {
  box-shadow: inset -10px 0 8px -8px #4d63ff;
}
:global(.lugia-table .rc-table-cell-fix-right-first) {
  box-shadow: -1px 0 0 #4d63ff;
}
:global(.lugia-table .rc-table th) {
  border: none;
}
:global(.lugia-table .rc-table td) {
  border: none;
}
:global(.lugia-table .rc-table-expanded-row .rc-table-cell) {
  box-shadow: none;
}
:global(.lugia-table .rc-table tbody tr:hover td) {
  background-color: rgba(77, 99, 255, 0.05);
}

:global(.lugia-table-zebraStripe .rc-table-content table tbody tr:nth-of-type(even) td) {
  background-color: #f2f2f2;
}

:global(.lugia-table-linear .rc-table-content table thead) {
  /*border-bottom: 1px solid #e8e8e8;*/
  border-top: 1px solid #e8e8e8;
}
/*:global(.lugia-table-linear .rc-table-content table thead tr th) {*/
  /*border: none;*/
/*}*/
:global(.lugia-table-linear .rc-table .rc-table-content th) {
  border-bottom: 1px solid #e8e8e8;
}
:global(.lugia-table-linear .rc-table .rc-table-content td) {
  border-bottom: 1px solid #e8e8e8;
}


:global(.lugia-table-bordered .rc-table-content table) {
  border: 1px solid #e8e8e8;
}
:global(.lugia-table-bordered .rc-table th) {
  border: 1px solid #e8e8e8;
}
:global(.lugia-table-bordered .rc-table td) {
  border: 1px solid #e8e8e8;
}


:global(.rc-table tr:hover) {
  background: rgba(77, 99, 255, 0.05);
}
:global(.rc-table-expanded-row td) {
  padding: 16px 20px;
}
:global(.rc-table colgroup .lugia-selection-col) {
  width: 60px;
}
:global(.rc-table .lugia-select-column) {
  text-align: center;
}
:global(.rc-table .rc-table-row-expand-icon) {
  margin-right: 8px;
}
:global(.rc-table .rc-table-row-expand-icon-cell .rc-table-row-expand-icon) {
  margin-right: 0;
}
:global(.rc-table .rc-table-row-expand-icon-cell) {
  width: 50px;
  text-align: center;
  min-width: 50px;
}
:global(.rc-table .rc-table-row-expand-icon:hover) {
  color: #4d63ff;
  border: 1px solid #4d63ff;
}
:global(.rc-table .rc-table-row-expand-icon:active) {
  color: #324DFF;
  border: 1px solid #324DFF;
}
:global(.rc-table .rc-table-row-expand-icon:focus) {
  color: #4d63ff;
  border: 1px solid #4d63ff;
}
