.wrap {
  padding: 0;
  margin: 0;
}
:global(.lugia-table-zebraStripe .rc-table-body table) {
  border-collapse: collapse;
}
:global(.lugia-table-zebraStripe .rc-table-body table tbody tr:nth-of-type(even)) {
  background-color: #f2f2f2;
}
:global(.lugia-table-linear .rc-table-body table) {
  border-collapse: collapse;
}
:global(.lugia-table-linear .rc-table-body table thead) {
  border-bottom: 1px solid #e8e8e8;
}
:global(.lugia-table-bordered .rc-table-body table) {
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
:global(.lugia-table-bordered .rc-table-body table thead tr th) {
  border-left: 1px solid #e8e8e8;
}
:global(.lugia-table-bordered .rc-table-body table tbody tr td) {
  border-left: 1px solid #e8e8e8;
}

:global(.lugia-table-bordered .rc-table-body table) {
  border-collapse: collapse;
}
:global(.rc-table tr:hover) {
  background: rgba(77, 99, 255, 0.05);
}
:global(.rc-table-expanded-row td) {
  padding: 16px 20px;
}
:global(.rc-table colgroup .lugia-selection-col) {
  width: 60px;
}
:global(.rc-table .lugia-select-column) {
  text-align: center;
}
:global(.rc-table .rc-table-row-expand-icon) {
  margin-right: 8px;
}
:global(.rc-table .rc-table-row-expand-icon-cell .rc-table-row-expand-icon) {
  margin-right: 0;
}
:global(.rc-table .rc-table-row-expand-icon-cell) {
  width: 50px;
  text-align: center;
  min-width: 50px;
}
:global(.rc-table .rc-table-row-expand-icon:hover) {
  color: #4d63ff;
  border: 1px solid #4d63ff;
}
:global(.rc-table .rc-table-row-expand-icon:active) {
  color: #324DFF;
  border: 1px solid #324DFF;
}
:global(.rc-table .rc-table-row-expand-icon:focus) {
  color: #4d63ff;
  border: 1px solid #4d63ff;
}
