
:global(.sv *) {
    box-sizing: border-box;
}

@font-face {
    font-family: "iconfont";
    src: url('./font/iconfont.eot?t=1502874699252'); /* IE9*/
    src: url('./font/iconfont.eot?t=1502874699252#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('./font/iconfont.woff?t=1502874699252') format('woff'), /* chrome, firefox */ url('./font/iconfont.ttf?t=1502874699252') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./font/iconfont.svg?t=1502874699252#iconfont') format('svg'); /* iOS 4.1- */
}

:global(.iconfont) {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global(.icon-close:before) {
    content: "\e60b";
}

:global(.sv-widght-hidden) {
    display: none;
}

