:global(.rc-pagination-item:focus) {
  border: none;
}
:global(.rc-pagination-item-active) {
  background: none;
  border-color: #4d63ff;
  color: #4d63ff;
}
:global(.rc-pagination-item-active a) {
  color: #4d63ff;
}
:global(.rc-pagination-item:focus) {
  border-radius: 6px;
  outline-color: #4d63ff;
  outline-radius: 6px;
}
:global(.rc-pagination-item:hover) {
  border-color: #4d63ff;
}
:global(.rc-pagination-item:hover a ) {
  color: #4d63ff;
}
:global(.rc-select-enabled .rc-select-selection:hover) {
  box-shadow: 0 0 2px rgba(77, 99, 255, 0.8);
  border-color: #4d63ff;
}
:global(.rc-select-enabled .rc-select-selection:active) {
  border-color: #4d63ff;
}
